<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, vitae.
    </p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="components\images\sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        temporibus praesentium itaque doloremque non nulla tempore iusto laborum
        rerum quisquam?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      class="feature__image"
      src="/components/images/easy.jpg"
      alt="graphs"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="components\images\sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam
        incidunt cum qui, sequi quasi debitis. Recusandae odit illum doloribus
        dolorum nobis?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      class="feature__image"
      src="/components/images/fast.jpg"
      alt="graphs"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use href="components\images\sprite.svg#settings"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        nulla tenetur sapiente! Voluptas magnam, corporis labore pariatur rem
        beatae.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img
      class="feature__image"
      src="/components/images/wordpress.jpg"
      alt="graphs"
    />
  </article>
</section>
