<div style="width: 30vw; padding: 4rem">
  <div class="card card--pramary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nemo,
      ea consequatur fuga autem nam perferendis distinctio eum quia voluptate?
    </div>
  </div>
</div>
<div style="width: 30vw; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nemo,
      ea consequatur fuga autem nam perferendis distinctio eum quia voluptate?
    </div>
  </div>
</div>
